In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")

In [3]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [4]:
data.shape

(366, 24)

In [5]:
data.size

8784

In [6]:
data.describe(include='all')

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
count,366,366,366.000000,366.000000,366.000000,366.000000,363.000000,363,364.000000,335,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366,366.000000,366
unique,366,1,NaN,NaN,NaN,NaN,NaN,16,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2
top,4/15/2008,Canberra,NaN,NaN,NaN,NaN,NaN,NW,NaN,SE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,No
freq,1,366,NaN,NaN,NaN,NaN,NaN,73,NaN,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,NaN,300
mean,NaN,NaN,7.265574,20.550273,1.428415,4.521858,7.909366,NaN,39.840659,NaN,...,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,NaN,1.428415,NaN
std,NaN,NaN,6.025800,6.690516,4.225800,2.669383,3.481517,NaN,13.059807,NaN,...,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,NaN,4.225800,NaN
min,NaN,NaN,-5.300000,7.600000,0.000000,0.200000,0.000000,NaN,13.000000,NaN,...,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,NaN,0.000000,NaN
25%,NaN,NaN,2.300000,15.025000,0.000000,2.200000,5.950000,NaN,31.000000,NaN,...,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,NaN,0.000000,NaN
50%,NaN,NaN,7.450000,19.650000,0.000000,4.200000,8.600000,NaN,39.000000,NaN,...,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,NaN,0.000000,NaN
75%,NaN,NaN,12.500000,25.500000,0.200000,6.400000,10.500000,NaN,46.000000,NaN,...,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,NaN,0.200000,NaN
max,NaN,NaN,20.900000,35.800000,39.800000,13.800000,13.600000,NaN,98.000000,NaN,...,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,NaN,39.800000,NaN

In [7]:
data.isnull().sum()

Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

In [20]:
data=data.dropna()

In [21]:
data.shape

(328, 24)

In [9]:
data1=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")

In [15]:
data1=data1.fillna(data1.mean())

In [24]:
data1=data1.dropna()

In [27]:
data1.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [37]:
data1.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [44]:
a=pd.Series(data1['MinTemp'])

In [45]:
a

0       8.0
1      14.0
2      13.7
3      13.3
4       7.6
5       6.2
6       6.1
7       8.3
8       8.8
9       8.4
10      9.1
11      8.5
12     10.1
13     12.1
14     10.1
15     12.4
16     13.8
17     11.7
18     12.4
19     15.6
20     15.3
21     16.4
22     12.8
23     12.0
24     15.4
25     15.6
26     13.3
27     12.9
28     15.1
29     13.6
       ...
334     2.3
335     1.4
336     5.6
337    16.8
338    14.4
339    10.3
340    11.2
341     0.3
342     0.5
343     0.5
344     4.6
345     8.2
346     4.5
347     6.7
348    11.9
349     9.2
350     4.4
352     6.7
353     8.3
354    11.3
355     9.0
356     3.4
357     3.2
358     0.9
359     3.3
361     9.0
362     7.1
363    12.5
364    12.5
365    12.3
Name: MinTemp, Length: 331, dtype: float64

In [46]:
b=pd.Series(data1['MaxTemp'])

In [47]:
b

0      24.3
1      26.9
2      23.4
3      15.5
4      16.1
5      16.9
6      18.2
7      17.0
8      19.5
9      22.8
10     25.2
11     27.3
12     27.9
13     30.9
14     31.2
15     32.1
16     31.2
17     30.0
18     32.3
19     33.4
20     33.4
21     19.4
22     18.5
23     24.3
24     28.4
25     26.9
26     22.2
27     28.0
28     24.3
29     24.1
       ...
334    16.8
335    20.6
336    27.6
337    28.9
338    20.7
339    21.3
340    18.0
341    16.0
342    17.9
343    20.0
344    22.0
345    22.4
346    23.9
347    26.1
348    21.1
349    19.6
350    21.0
352    24.7
353    28.5
354    27.4
355    20.6
356    15.0
357    18.0
358    20.7
359    25.5
361    30.7
362    28.4
363    19.9
364    26.9
365    30.2
Name: MaxTemp, Length: 331, dtype: float64